[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = {file = "file:///Users/xuyunfei/gpt_academic/docs/gradio-3.32.6-py3-none-any.whl"}
pypdf2 = "==2.12.1"
tiktoken = ">=0.3.3"
requests = {extras = ["socks"], version = "*"}
pydantic = "==1.10.11"
transformers = ">=4.27.1"
scipdf-parser = ">=0.52"
python-markdown-math = "*"
websocket-client = "*"
beautifulsoup4 = "*"
prompt-toolkit = "*"
latex2mathml = "*"
python-docx = "*"
mdtex2html = "*"
anthropic = "*"
pyautogen = "*"
colorama = "*"
markdown = "*"
pygments = "*"
pymupdf = "*"
openai = "*"
arxiv = "*"
numpy = "*"
rich = "*"
yshs = "==1.1.0"
damei = "*"
easydict = "*"
ysds = "*"

[dev-packages]

[requires]
python_version = "3.12"
